body {
    display: flex;
    font-size: 150%;
    gap: 20px;
    flex-direction: column;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, Sans-serif;
}

.top {
    background-color: #0cb415;
    color: white;
    padding: 20px 80px;
    flex: 1 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

h2,
h1 {
    font-size: 60px;
    color: white;
    margin: 0;
    padding: 0;
}

.logo{
    height: 140px;
    width: 300px;

}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    align-items: center;
    gap: 80px;
}

.placeholder {
    align-self: center;
    width: 500px;
    height: 300px;
    flex: 1 0 auto;
}

.tsignup {
    background-color: #42abcbe3;
    border: none;
    font-size: 17px;
    padding: 2px 16px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

.button {
    color: white;
}

.description {
    font-size: 30px;
}

h3 {
    text-align: center;
}

.mid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 45px;
    flex: 1 0 auto;
}

.illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.image {
    background-color: white;
    border-color: blue;
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.quote{
    font-style: italic;
    background-color:   #8ef879  ;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 20px 40px;
}

.author{
    align-self: flex-end;
    font-size: 28px;
}

blockquote{
    font-size: 35px;
}

.action{
    background-color: green;
    color: white;
    padding: 20px 60px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.register{
    padding: 50px 80px;
}

.lsignup{
    display: flex;
    flex-direction: column;
}

.bold{
    font-weight: bold;
}

.signup{
    background-color:  #2dbe10 ;
    color: white;
    border: 2px solid white;;
    font-weight: bold;
    border-radius: 5px;
    padding: 0px 40px;
}

footer{
    background-color: #0cb415;
    color: white;
    text-align: center;
    padding: 40px;
}

.awesome{
    display: flex;
    flex-direction: column;
    gap: 20px;
}